@import "tailwindcss";

.rrf-menu>div>ul {
    @apply flex items-center;
}

.rrf-menu>div>ul li a {
    @apply block px-6 py-2;
}



.rrf-menu>div>ul li {
    @apply relative;
}

.rrf-menu>div>ul li ul {
    @apply absolute bg-black flex-col w-50 opacity-0 invisible transition;
}

.rrf-menu>div>ul li ul ul {
    @apply left-full top-0;
}

.rrf-menu>div>ul li:hover ul,
.rrf-menu>div>ul li:hover ul li:hover ul {
    @apply opacity-100 visible;
}

.rrf-menu>div>ul li:hover ul ul {
    @apply opacity-100 invisible;
}

.rrf-menu>div>ul li ul a {
    @apply text-white;
}

.rrf-menu>div>ul li ul a:hover,
.rrf-menu>div>ul li:hover>a {
    @apply text-black bg-[#FFB900];
}




.btn {
    @apply flex justify-center items-center px-6 py-2 bg-black hover:bg-[#FFB900] text-white rounded-full ml-15;
}

/* tag css why not work */

.tag-cloud a {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: gray;
    border-radius: 20%;
    font-size: 12px;
}

.tag-cloud a:hover {
    background-color: yellow;
    color: white;

}